<mat-tab-group class="demo-tab-group">
  <mat-tab label="Info">
    <app-patient-info [patient]="patient">
    </app-patient-info>
  </mat-tab>
  <mat-tab label="Order Courses">
    <h1 class="tab-title"> Order Courses</h1>
    <app-medications [patient]="patient">
    </app-medications>
  </mat-tab>
  <mat-tab label="Google Maps">
    <h1> Google Maps</h1>

    <div id="map-container-google-11" class="z-depth-1-half map-container-6" style="height: 400px">
      <iframe [src]="url"
              frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>


  </mat-tab>
</mat-tab-group>
